
    {% extends "wiki/base.html" %}
    {% block main %}

    <div id="main">

        <br />
        {% if form.has_errors %}

        <p>please check errors...</p>

        <p>{{ errors|pluralize }}</p>{% endif %}

        <form id="Login" name="Login" action="/forum/auth/pwdchange/" method="post">
            <div class="fieldcontrol">
                <label for="id_old_password">旧密码：　</label> {{ form.old_password }} {% if form.old_password.errors %} {{ form.old_password.errors|join:", " }}{% endif %}
            </div><br />

            <div class="fieldcontrol">
                <label for="id_new_password1">新密码：　</label> {{ form.new_password1 }} {% if form.new_password1.errors %} {{ form.new_password1.errors|join:", " }}{% endif %}
            </div>

            <div class="fieldcontrol">
                <label for="id_new_password2">重新输入：</label> {{ form.new_password2 }} {% if form.new_password2.errors %} {{ form.new_password2.errors|join:", " }}{% endif %}<br />

                <div class="fieldcontrol">
                    <button type="submit" name="submit" id="submit">修改</button>
                </div>
            </div>
        </form>

    </div>
    {% endblock %}

